//main: ../style.less
.contact {
  display: flex;
}
.contact__left {
  width: 47%;
  padding: 1.5rem;
  @media @mobile-sm {
    width: 100%;
  }
}
.contact__right {
  width: 53%;
  margin: auto 1rem;
  @media @mobile-sm {
    width: 0%;
  }
}
.contact__photo {
  display: block;
  width: 100%;
  height: auto;
  @media @mobile-sm {
    display: none;
  }
}

.contact__section {
  margin: 1rem 0;
}
.contact__email {
  margin-bottom: 1rem;
}
.social-links {
  margin-top: 0.5rem;
}
.telegram_icon,
.viber_icon,
.phone_icon,
.whatsup_icon {
  width: 18px;
  height: 18px;
  /*padding: 0;*/
}

.telegram_link,
.viber_link,
.phone_link,
.whatsup_link {
  text-decoration: none;
}

.telegram_icon,
.viber_icon,
.phone_icon {
  margin-right: 18px;
  @media @mobile-sm {
    margin-right: 12px;
  }
}

.telegram_icon {
  margin-left: 20px;
  @media @mobile-sm {
    margin-left: 8px;
  }
}

.telephone-item,
.email-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  // margin-left: 10px;
  color: tomato;
  // opacity: 0.5;
  // @media @mobile-sm {
  //   font-weight: 400;
  //   font-size: 11px;
  //   line-height: 18px;
  // }
}
