//main: ../style.less
.burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 9px 2px;
  @media @mobile {
    display: block;
  }
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: @black;
  font-size: 0;

  color: transparent;
  position: relative;
}

.burger__item::before,
.burger__item::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: @black;
}
.burger__item::before {
  top: -8px;
}
.burger__item::after {
  bottom: -8px;
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
@media @mobile {
  .nav {
    display: none;
    width: 100%;
    position: absolute;
    right: 0;
    top: 20%;
    flex-direction: column;
    text-align: right;
    // background-color: #31344e;
  }
  .nav.show__menu {
    display: flex;
  }
}

.nav__link {
  position: relative;
  font-size: 0.93rem;
  color: @black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  //
  border-radius: 20px;

  margin-left: 2rem;

  &::after {
    content: "";
    position: absolute;
    // display: none;
    width: 0;
    height: 2px;
    background-color: @black;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
  }
  &:hover:not(.nav__link--btn) {
    &::after {
      width: 100%;
    }
  }
  &--btn {
    padding: 0.66rem 2rem;
    border: 2px solid @black;
    border-radius: 20px;
    transition: background-color 0.2s linear, color 0.2s linear;

    &:hover {
      background-color: @black;
      color: @white;
    }
  }
}
