//main: ../style.less
// .burger {
//   display: none;
//   background: none;
//   border: 0;
//   cursor: pointer;
//   padding: 9px 2px;
//   @media @mobile {
//     display: block;
//   }
// }
.burger {
  height: 32px;
  width: 32px;
  display: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  @media @mobile {
    display: block;
  }
}
.burger__icon {
  display: block;
  max-width: 100%;
}

.nav {
  flex-wrap: wrap;

  display: flex;
  height: auto;
  padding: 1rem;
  align-items: center;
  @media @mobile {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: @white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    &.show__menu {
      display: flex;
    }
  }
}

.nav__link {
  position: relative;
  font-size: 0.93rem;
  color: @black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  //
  border-radius: 20px;

  margin-left: 2rem;

  &::after {
    content: "";
    position: absolute;
    // display: none;
    width: 0;
    height: 2px;
    background-color: @black;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
  }
  &:hover:not(.nav__link--btn) {
    &::after {
      width: 100%;
    }
  }
  &--btn {
    padding: 0.66rem 2rem;
    border: 2px solid @black;
    border-radius: 20px;
    transition: background-color 0.2s linear, color 0.2s linear;

    &:hover {
      background-color: @black;
      color: @white;
    }
  }

  @media @mobile {
    width: 100%;
    margin-left: 0;
    padding: 0.5rem 1rem;
  }
}
